@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.select_input {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 304px;
    height: 43px;
    padding: 11px 12px;
    outline: none;
    border: 1px solid $color-grey;
    border-radius: 5px 5px 5px 5px;
    color: $color-black;
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.21;
    transition: border-color $transition;
    &:hover,
    &:focus {
        border-color: $color-black;
    }
    @include tablet {
        width: 320px;
        height: 46px;
        font-size: 18px;
    }
    @include desktop {
        height: 48px;
        padding: 12px;
    }
}

.select__input__text {
    width: 260px;
    height: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include tablet {
        height: 22px;
    }
    @include desktop {
        height: 24px;
    }
}

.select_opened {
    z-index: 2;
    border: 1px solid $color-black;
    border-radius: 5px 5px 0px 0px;
    color: $color-grey;
}

.options__wrapper {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 304px;
    max-height: 321px;
    padding: 0;
    margin: 0 auto;
    overflow-y: auto;
    background: $color-white;
    border: 1px solid $color-black;
    border-radius: 0px 0px 5px 5px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-grey;
        border-radius: 5px;
    }

    @include tablet {
        width: 320px;
    }
}

.option {
    cursor: pointer;
    padding: 12px;
    color: $color-black;
    &:hover {
        background-color: $color-orange;
        border-radius: 5px;
    }
}

.button {
    cursor: pointer;
    position: absolute;
    right: 12px;
    z-index: 1;
    width: 18px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $color-black;
    transition: color $transition;
    @include tablet {
        width: 28px;
        height: 28px;
        padding: 5px;
    }
}
