$color-white: #ffffff;
$color-black: #2b2b2b;
$color-orange: #fcbe0a;
$color-grey: #aaa8a4;
$color-light-grey: #eae9e9;
$color-dark-grey: #525252;
$color-red: #c25454;
$color-green: #4cb656;
$color-blue: #5487c2;
$color-imgThumb: #d7d5ce;
$color-backdrop: rgba(43, 43, 43, 0.75);
$font: "Inter", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
$transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$debounce: 1000;
