@import "../../../../../../styles/variables";
@import "../../../../../../styles/mixins";
.header {
    padding-top: 3px;
    padding-bottom: 6px;
    background-color: $color-black;
    @include tablet {
        padding: 15px 0;
    }
    @include desktop {
        display: none;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__menu {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
.header__search {
    margin-left: 16px;
    margin-right: 24px;

    @include tablet {
        margin-left: 40px;
        margin-right: 86px;
    }
}

.header__searchIcon {
    width: 28px;
    height: 28px;
    fill: $color-white;
    transition: fill $transition;
    &:hover,
    &:focus {
        fill: $color-orange;
    }
    @include tablet {
        width: 48px;
        height: 48px;
    }
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    @include tablet {
        flex-direction: row;
    }
}
.logo__icon {
    width: 40px;
    height: 50px;

    @include tablet {
        width: 56px;
        height: 70px;
    }
    @include desktop {
        width: 56px;
        height: 70px;
    }
}

.logo__text {
    margin-top: 1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    @include tablet {
        margin-top: 0;
        margin-left: 8px;
        font-size: 28px;
        letter-spacing: -1.4px;
    }
}

.cart {
    position: relative;
}

.header__inCart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    position: absolute;
    top: 0;
    right: 0;
    color: $color-black;
    background-color: $color-orange;
    border-radius: 10px;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    @include tablet {
        padding: 0 5px;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }
}
