@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.form {
    position: relative;
}
.label {
    position: relative;
}
.input {
    padding-right: 42px;
    @include tablet {
        padding-right: 46px;
    }
}
.button {
    margin-top: 37px;
    @include desktop {
        margin-top: 36px;
    }
}
