@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.button {
    cursor: pointer;
    position: absolute;
    top: 37px;
    right: 11px;
    z-index: 1;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $color-black;
    transition: color $transition;
    @include tablet {
        top: 42px;
        right: 12px;
        width: 24px;
        height: 24px;
        &:hover,
        &:focus-visible {
            color: $color-orange;
        }
    }
}
