@import "../../../../styles/variables";

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background: rgba(43, 43, 43, 0.75);

    &.isOpen {
        visibility: visible;
        opacity: 1;
    }
}
