@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.socials__list {
    display: flex;
    gap: 24px;

    @include tablet {
        flex-direction: column;
        gap: 16px;
    }

    @include desktop {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
}

.socials__item {
    transition: color $transition;
    &:hover,
    &:focus-visible {
        color: $color-orange;
    }
}
