@import "../../../styles/variables";
@import "../../../styles/mixins";

.section {
    padding-top: 20px;
    padding-bottom: 8px;
    background-color: $color-black;
    margin-top: auto;

    @include tablet {
        padding-top: 39px;
        padding-bottom: 15px;
    }

    @include desktop {
        padding-top: 40px;
        padding-bottom: 24px;
    }
}

.wrapper {
    color: $color-white;
}

.sections__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;

    @include tablet {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 28px;
    }

    @include desktop {
        align-items: flex-start;
    }
}

.logo {
    width: 52px;
    height: 66px;

    @include tablet {
        width: 70px;
        height: 90px;
    }
    @include desktop {
        width: 108px;
        height: 140px;
    }
}
.copyright {
    color: $color-grey;
    text-align: center;
    font-weight: 300;
    line-height: 1.49;
    font-size: 12px;

    @include tablet {
        display: flex;
        margin-left: 6px;
        justify-content: center;
        gap: 16px;
        font-size: 16px;
    }

    @include desktop {
        margin-left: 0px;
        font-size: 18px;
    }
}
.team__text {
    display: flex;
    justify-content: center;
}
.copyright__link {
    position: relative;
    display: inline-block;
    color: $color-grey;
    transition: color $transition;

    &:hover,
    &:focus-visible {
        color: $color-orange;
    }
}

.copyright__link::after {
    content: " ";
    height: 1px;
    position: absolute;
    bottom: 1.8px;
    left: 0;
    background-color: currentColor;
    width: 100%;
}

.copyright__text {
    margin-bottom: 17px;

    @include tablet {
        margin-bottom: 0px;
        display: flex;
    }
}

.space {
    display: inline;
    font-size: 6px;
}

.title {
    display: none;

    @include desktop {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 9px;
    }
}
