@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 304px;
    height: 80px;
    &:not(:last-of-type) {
        margin-bottom: 16px;
    }

    @include tablet {
        width: 329px;
        height: 121px;
        &:not(:last-of-type) {
            margin-bottom: 48px;
        }
    }
    @include desktop {
        width: 564px;
        height: 153px;
        padding: 16px;
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }
}
.card:not(:last-of-type)::after {
    @include tablet {
        content: " ";
        position: absolute;
        bottom: -24px;
        left: 12.5px;
        width: 304px;
        height: 2px;
        background-color: $color-grey;
        opacity: 0.5;
    }
    @include desktop {
        bottom: -8px;
        width: 532px;
        left: 16px;
    }
}

.card__thumb {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 16px;
    background-color: $color-imgThumb;
    border-radius: 5px;

    @include tablet {
        width: 121px;
        height: 121px;
    }
}

.card__image {
    object-fit: cover;
    border-radius: 5px;
}

.card__name {
    height: 38px;
    width: 180px;
    margin-bottom: 8px;
    margin-right: 9px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
        margin-bottom: 16px;
        width: 148px;
        height: 57px;
        font-size: 16px;

        -webkit-line-clamp: 3;
    }
    @include desktop {
        margin-right: 18px;
        font-size: 18px;
        width: 304px;
        height: 44px;
        margin-bottom: 37px;
        -webkit-line-clamp: 2;
    }
}
