@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
    width: 219px;
    margin-top: 95px;
    @include desktop {
        margin-top: 136px;
        width: 320px;
    }
}
